/* ==google fonts== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* --root-- */
:root{
    --dark-light-color:#2a2e33;
    --dark-dark-color:#25262a;
    --white-light-color:#e8e8e8;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--dark-light-color) ;
}
/* ==header-styling == */
header{
    padding: 25px 35px;
    background-color: var(--dark-dark-color);
    max-width: 100%;
}
.navigator{
    flex: 1 0 auto;
    display: flex;
    padding-inline-start: 120px;
    align-items: center;
}
.navigator__link{
    text-decoration: none;
    color:var(--white-light-color);
    margin-inline: 1.2rem;
    position: relative;
    font-size: 18px;
    transition:all 0.5s;
    cursor: pointer;
    display: block;
}

.navigator__link.active::after,.navigator__link:hover:not(:last-child)::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: white;
    border-radius: 2px;
}

.navigator__link.active{
    font-weight: bold;
}

.button-icon__icon{
    padding: 16px 23px;
    background-color: var(--dark-light-color);
    margin-inline-end: 2.3rem;
    transition: all 0.5s;
    border-radius: 14px;
    color: var(--bs-warning);
}
.button-icon__icon:hover{
    background-color: var(--bs-warning);
    color: var(--bs-dark);
}
.button-icon__button button{
    padding: 16px 45px 15px;
    border-radius: 14px;
}

/* ==drawer  styling == */
.header-drawer{
    min-width: 100%;
    max-width: 100%;
    background-color: var(--dark-dark-color);
}
.header-drawer__close-btn,.header-drawer__close-btn:is(:hover,:focus,:active){
    background-color: inherit;
    border-radius: 50%;
    border-color: var(--white-light-color);
}
.header-drawer__offcanvas-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offcanvas-body__a{
    color: var(--white-light-color);
    text-decoration: none;
    display: block;
    font-size: 45px;
    padding: 15px 0;
    max-width: 100%;
}
.offcanvas-body__a.active{
    font-weight: bold;
}

.browser-buy-export{
    position: fixed;
    top:50%;
    right: 0;
    /* border:thin solid white; */
    width: 181px;
    z-index: 1046;
    transition: all .4s cubic-bezier(.46,.03,.52,.96);
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,0) 60%);
    animation-name: AuxLightUpStickyBtns;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 2s;
    background-size: 300%;
    will-change: backgroud-position;
}
@keyframes AuxLightUpStickyBtns {
    0% {
        background-position: 0 0;
    }
    80% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.browser-buy-export .browser-buy-export__button{
    text-align: left;
    background-color: transparent;
    border: thin solid #e8e8e84f;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    font-weight: lighter;
    transition: all 0.5s;
    transform: translateX(16px);
}
.browser-buy-export .browser-buy-export__button:hover{
    transform: translateX(0);
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.section-wrapper{
    position: relative;
    /* overflow: hidden; */
}
.section__content{
    padding: 0 4rem;
}

.section-wrapper{
    padding: 160px 35px 140px;
    color: var(--bs-white);
    margin-bottom: 3rem;
}

.content__starter{
    position: relative;
    padding-left: 43px;
}
.content__starter>span.span-line{
    position: absolute;
    top: 42%;
    left: -8px;
    height: 2px;
    background: var(--bs-white);
    width: 38px;
    display: block;
}

.content__title{
    margin-bottom: 1.5rem;
}

.section__thumbnail{
    position: relative;
}

.section__thumbnail .thumnail__img-wrapper img{
    border-radius: 46px;
}
.section__thumbnail .thumnail__img-wrapper {
    position: relative;
    max-width: 653px;
    /* border: thin solid white; */
    z-index: 3;
}
.section__thumbnail .thumnail__img-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-dark-color);
    z-index: -1;
    transform: translate(-5px, 10px) rotate(350deg);
    border-radius: 46px;
}

.content__ender button,.content__ender button:hover {
        background: transparent;
        border: none;
        color: var(--bs-warning);
    }

.circle-box-type-a{
    border: 64px solid var(--bs-success);
    position: absolute;
    width: 313px;
    height: 313px;
    border-radius: 100%;
    bottom: -145px;
    right: 0;
}

.circle-box-type-b{
    border: 64px solid var(--bs-success);
    position: absolute;
    width: 313px;
    height: 313px;
    border-radius: 100%;
    bottom: -145px;
    left: 0;
}

footer ul{
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}
footer ul li a{
    width: 55px;
    height: 55px;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-warning);
    text-decoration: none;
    transition: all 0.5s;
    background-color: var(--dark-dark-color);
}

footer ul li{
    margin-right: 1.5rem;
}

footer ul li a:hover{
    background-color: var(--bs-warning);
    color: var(--dark-dark-color);
}

/* ==large screen== */
@media(max-width:767px){
    .section__thumbnail .thumnail__img-wrapper::after{
        transform: rotate(349deg);
        /* transform: translate(75px, -6px) rotate(349deg); */
    }
}

/* ==madium screen== */
@media(max-width:767px){
    .offcanvas-body__a{
        font-size: 35px;
        padding: 10px 0;
    }
    .browser-buy-export{
        top: 30%;
    }
    .browser-buy-export .browser-buy-export__button{
        transform: translateX(58px);
    }
}




/* *{
    background:rgba(255, 255, 255, 0.355);
    border:thin solid black;
} */